<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de estadisticas de Altura</title>

    <link href="../static/main.css" rel="stylesheet">




</head>
<body>
    
<div class="container">

<h1>Estadisticas de Altura</h1>
<h3>Por favor llene los formularios para obtener estadisticas de altura</h3>

<form action="exito.html" method="POST"> 

<input title="Tu correo esta a salvo con nostros" placeholder= "Introduce tu correo" type="email" name="varemail" required=""><br>

<input title="Tus datso son confidenciales" placeholder= "Introduce tu altura en cm" type="number" min="50", max="300" name="varaltura" required=""><br>

<button type="submit">Enviar</button>

</form>

</div>


</body>
</html>